<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Action Bar Example</title>
    <link rel="stylesheet" href="../styles/nice-popup-menu.css ">
  
  </head>
  <body>
    <div class="phact-menu-container" id="phact-menu-container">
      <div class="dots-container" id="dots-container">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="phact-menu" id="phact-menu">
        <ul>
          <li>Option 1</li>
          <li>Option 2</li>
          <li>Option 3</li>
        </ul>
      </div>
    </div>
  </body>

  <script>
    let menu = document.getElementById("phact-menu");
    let container = document.getElementById("phact-menu-container");
    let dots = document.getElementById("dots-container");

    let initialWidth = window.getComputedStyle(dots).width;
    let initialHeight = window.getComputedStyle(dots).height;

    let menuWidth = window.getComputedStyle(menu).width;
    let menuHeight = window.getComputedStyle(menu).height;

    container.style.width = initialWidth;
    container.style.height = initialHeight;

    container.style.borderRadius = `${parseInt(initialWidth) / 2}px`;

    container.addEventListener("mouseover", function () {
      container.style.width = menuWidth;
      container.style.height =
        parseInt(menuHeight) + parseInt(initialHeight) + "px";
    });
    container.addEventListener("mouseout", function () {
      container.style.width = initialWidth;
      container.style.height = initialHeight;
    });
  </script>
</html>
