<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="styles/photo_gallery_template.css" />
    <link rel="stylesheet" href="styles/unlogged_header.css" />
  </head>

  <body>
    <header class="unlogged-header">
      <div class="filler"></div>
      <div class="mpic-logo">
        <a href="main_page.html" class="link-unlogged-main"
          ><p class="gradient-text">M-PIC</p></a
        >
      </div>
      <div class="unlogged-user">
        <a href="login_page.html" class="link-to-loginp">
          <p>Log in</p>
          <img id="unlogged-image" src="resources/user.png" alt="unlogged user"
        /></a>
      </div>
    </header>
    <div class="gallery">
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/400x600" alt="Photo 1" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/800x400" alt="Photo 2" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/600x800" alt="Photo 3" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/400x400" alt="Photo 4" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/600x600" alt="Photo 5" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/800x600" alt="Photo 6" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/400x600" alt="Photo 1" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/800x400" alt="Photo 2" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/600x800" alt="Photo 3" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/400x400" alt="Photo 4" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/600x600" alt="Photo 5" />
      </div>
      <div class="gallery-item">
        <img src="https://source.unsplash.com/random/800x600" alt="Photo 6" />
      </div>
    </div>
  </body>
</html>
