body {
  font-family: Arial, sans-serif;
  color: #2b2d42;
  margin: auto;
  padding: 0;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

body * {
  box-sizing: border-box;
  position: relative;
}
#edited-image {
  max-width: 100%;
  max-height: 400px;
  border: 1px solid #ccc;

  flex: 2;
}

#edit-panel {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;

  display: flex;
  flex-flow: column;
  align-items: center;
}

#filter-form {
  display: flex;

  flex-flow: column;

  row-gap: 10px;
}

.edit-row {
  flex-flow: row;
  display: flex;
  column-gap: 50px;

  justify-content: center;
}

.filer-item {
  display: flex;

  column-gap: 5px;

  align-items: center;
}

 
#actions {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.btn {
  padding: 10px;
  border-radius: 50px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

h2 {
  margin-top: 0;
}

body {
  position: relative;
}
.image-container {
  position: relative; 
  display: flex; 
  flex-direction: column;  
}
.handler {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}
#handler1 {
  top: 50px;
  left: 50px;
}
#handler2 {
  top: 150px;
  left: 150px;
}
#rectangle {
  position: absolute;
  border: 2px dotted rgb(156, 156, 169);
  pointer-events: none;
  cursor: pointer;
  z-index: 1000;
}
#textHover {
  cursor: pointer;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
label {
  display: block; 
  text-align: center;
  line-height: 50px;
}
input{
  height: 40px;
}

input[type="submit"] {
  display: block;
  margin-top: 10px;
}

#upload-section {
  padding: 10px;
}
