body {
  font-family: Arial, sans-serif;
  color: #2b2d42;
  margin: auto;
  padding: 0;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

body * {
  box-sizing: border-box;
  position: relative;
}
#edited-image {
  max-width: 100%;
  max-height: 400px;
  border: 1px solid #ccc;

  flex: 2;
}

#edit-panel {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;

  display: flex;
  flex-flow: column;
  align-items: center;
}

#filter-form {
  display: flex;

  flex-flow: column;

  row-gap: 10px;
}

.edit-row {
  flex-flow: row;
  display: flex;
  column-gap: 50px;

  justify-content: center;
}

.filer-item {
  display: flex;

  column-gap: 5px;

  align-items: center;
}

#actions {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.btn {
  padding: 10px;
  border-radius: 50px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

h2 {
  margin-top: 0;
}

body {
  position: relative;
}
.image-container {
  /* overflow: hidden; */
  position: relative;
  display: flex;
  flex-direction: column; 
}
.handler {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 100;
}
#handler1 {
  top: 50px;
  left: 50px;
}
#handler2 {
  top: 150px;
  left: 150px;
}

#rectangle {
  position: absolute;
  border: 2px dotted rgb(156, 156, 169);
  pointer-events: none;
  cursor: pointer;
  z-index: 100;
}
#textHover {
  cursor: pointer;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
label {
  display: block;
  text-align: center;
  line-height: 50px;
}
input {
  height: 40px;
}

input[type="submit"] {
  display: block;
  margin-top: 10px;
}

#upload-section {
  padding: 10px;
}

@media (max-width: 768px) {
  #handler1 {
    top: 10px;
    left: 10px;
  }
  #handler2 {
    top: 50px;
    left: 50px;
  }

  .edit-row {
    flex-direction: column;
  }
}




/* for menu */
 
.menu-button {
  position: fixed;
  right:10px;
  top:100px;
  z-index: 1000;
  background-color: #333;
  color: white;
  border: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.menu { 
  width: 50vh;
  height: 80vh; 
  display: none;  
  position: absolute; 
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 999; 
}
 

.gallery-item {
  position: relative;
  border-radius: 8px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px 20px 20px 20px; 
  align-items: center; 
 
}

@media screen and (min-width: 600px) {
  .gallery {
    grid-gap: 50px; 
  }

  
}

#gallery-wrapper {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  flex: 10;
}
.selected-image {
  border: 5px solid rgb(0, 153, 255);
  border-radius: 2%;
}